name: CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

    - name: Build with Maven
      run: mvn -B clean package

    - name: Run Unit Tests
      run: mvn test

    # ------------------------------
    # PART 1 - SonarQube Analysis
    # ------------------------------
    - name: SonarQube Scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      run: |
        mvn sonar:sonar \
          -Dsonar.host.url=$SONAR_HOST_URL \
          -Dsonar.login=$SONAR_TOKEN

    # ------------------------------
    # PART 2 - Trivy Security Scan
    # ------------------------------
    - name: Trivy FS Scan
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: 'fs'
        severity: 'HIGH,CRITICAL'
        exit-code: '0'
        ignore-unfixed: true
        format: 'table'
        input: '.'

    # ------------------------------
    # PART 3 - Upload .jar to Maven Repo
    # ------------------------------
    - name: Upload JAR to Artifactory Maven Releases
      env:
        ART_USER: ${{ secrets.ARTIFACTORY_USERNAME }}
        ART_PASS: ${{ secrets.ARTIFACTORY_PASSWORD }}
        ART_URL:  ${{ secrets.ARTIFACTORY_URL }}
      run: |
        curl -u $ART_USER:$ART_PASS \
             -T target/*.jar \
             "$ART_URL/maven-releases/"
