name: Java CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: "temurin"
        java-version: "17"

    # -----------------------------
    #  Task 1: Build with Maven
    # -----------------------------
    - name: Build with Maven
      run: mvn clean package -DskipTests=true

    # -----------------------------
    #  Task 2: Run Unit Tests
    # -----------------------------
    - name: Run Tests
      run: mvn test

    # -----------------------------
    #  Task 3: SonarQube Scan (ADD HERE)
    # -----------------------------
    - name: Run SonarQube Scan
      env:
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        mvn sonar:sonar \
          -Dsonar.projectKey=expenseapp \
          -Dsonar.host.url=$SONAR_HOST_URL \
          -Dsonar.login=$SONAR_TOKEN

    # -----------------------------
    #  Task 4: Package / Upload Artifact
    # -----------------------------
    - name: Upload JAR Artifact
      uses: actions/upload-artifact@v3
      with:
        name: myapp
        path: target/*.jar
