name: Docker Build & Push

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  docker-build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifact from CI
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: build/

      - name: Verify artifact
        run: ls -R build/

      - name: Log in to JFrog Artifactory
        run: echo "${{ secrets.JFROG_PASSWORD }}" | docker login ${{ secrets.DOCKER_REPO }} -u ${{ secrets.JFROG_USERNAME }} --password-stdin

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_REPO }}/spring-app:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_REPO }}/spring-app:latest
