name: Day-3 Docker Build, Scan & Push

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

permissions:
  actions: read
  contents: read
  id-token: write

jobs:
  docker-build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Download JAR Artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: .

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v2

      - name: Create Dockerfile
        run: |
          echo 'FROM eclipse-temurin:17-jdk' > Dockerfile
          echo 'WORKDIR /app' >> Dockerfile
          echo 'COPY *.jar app.jar' >> Dockerfile
          echo 'ENTRYPOINT ["java","-jar","app.jar"]' >> Dockerfile

      - name: Login to Artifactory
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.DOCKER_REPO }}
          username: ${{ secrets.ARTIFACTORY_USERNAME }}
          password: ${{ secrets.ARTIFACTORY_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_REPO }}/docker-trial/expense-app:1.0 .

      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKER_REPO }}/docker-trial/expense-app:1.0
          format: table
          exit-code: 1
          severity: HIGH,CRITICAL

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_REPO }}/docker-trial/expense-app:1.0
